[defaults]
# disattiva i vari warning 
localhost_warning = False
inventory_unparsed_warning = False
display_skipped_hosts = False

[privilege_escalation]
# disabilita l'utente root in modo da utilizzare l'utente an-vault
become = False
# disabilita la richiesta di immissione della password dell'utente root
become_ask_pass = False